/******ECRAN MAX 1920PX*******/
@media(max-width:1920px){
    * {
        margin: 0;
        padding: 0%;
        box-sizing: border-box;
        font-family: 'Birthstone', 'cursive';
        scroll-behavior: smooth; 
    }
     html{
      overflow: hidden;                            /****RETIR LES BARE DE SCROL****/
    }
    /****HEADER*****/
    header {                                       /****MISE EN FORME DU HEADER****/
        background: #F5BCA9;
        /*position: fixed;*/
        top: 0%;
        left: 0%;
        width: 100%;
        height: 3em;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .eva a {                                         /****LOGO EN HAUT A GAUCHE EVA PICTUR****/
        color: #fff;
        font-size: 250%;
        text-decoration: none;
    
    }
    .navbar {                                            /*****ALIGNEMENT SUR UNE LIGNE HORIZONTAL DES TITRES DE LA NAVBAR****/
        display: flex;
        position: relative;
        
    }
    .navbar .title{                                      /******RETIR LES POINTS DE MA LISTE******/
        list-style: none;    
    }
    .navbar .title a {                                  /*******MISE EN FORME DES TITRES DE LA NABAR******/
        font-size: 2em;
        color: #fff;
        text-decoration: none;
        margin-left: 3em;
        font-weight: 700;
    }
    .navbar .title a:hover {                                  /************CHANGE LA COULEUR DU TEXTE AU PASSAGE DE LU CURSEUR AVEC UNE TRANSITION DE 0.05S**************/
        transition: 0.05s;
        color: #000;
    }

    
       /****MAIN*****/
.titre {                                                      /*************POSITIONNEMENT DU TITRE**************/
    text-align: center;
    font-size: 5em;
}
    /****PHOTOS GALERIE****/

.images {                                                         /************POSITIONNEMENT DES PHOTOS *************/
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9em;
    
}
.images img {                                              /*********TAILLE DES IMAGE***************/
    margin: 1em;
    max-width: 20em;
    max-height: 20em;
}

/***FOOTER***/

footer {                              /*****MISE EN FORME DU FOOTER*******/
    width: 100%;
    background-color: #F5BCA9;
    min-height: 8vh;    
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}
}


/*********ECRAN PC PORTABLE MAX 1366PX*************/
@media(max-width:1366px){


    .titre {
        text-align: center;
        font-size: 5em;
        margin: 0;
    }
    .images {
        margin-bottom: 4em;
    }
    .images img {
        margin: 0.5em;
        max-width: 15em;
        max-height: 15em;
    }
}
/*********ECRAN PC PORTABLE MAX 1360PX*************/
@media(max-width:1360px){
.images {
    margin-bottom: 3em;
}
.eva a {
    color: #fff;
    font-size: 200%;
    text-decoration: none;

}
.navbar .title a {
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    margin-left: 2em;
    font-weight: 700;
}
}
/*********ECRAN PC TABLETTE MAX 991PX*************/
@media(max-width:991px){
    .eva a {
        color: #fff;
        font-size: 200%;
        text-decoration: none;
    
    }
    /*******************MISE EN FORME DU MENU DEROULANT************************/
    header {
        overflow: visible;
        position: sticky;
        z-index: 1;
    }
    header, 
    header.sticky{
        padding: 10px 20px;
    }
    
    header .navbar li{
        margin-left: 0px;
    }
    
    header .navbar li a {
        text-decoration: none;
        color: #fff;
        font-size: 1.6em;
        font-weight: 300;
    }
    
    .navbar{
        display: none;
    }
    /*section{
        padding: 20px;
    }*/
    
    header .navbar.active{
        width: 100%;
        height: calc(100% 50%);
        position: fixed ;
        top: 3em;
        left:0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background:#F5BCA9;
        align-items: center;
        z-index: 1;
    }
    
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background-image: url(menu.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-size: 30px;
        
    }
    
    .menuToggle.active
    {
        background-size: 25px;
        background-repeat: no-repeat;
        background-origin: center;
    }
    
    header.sticky .menuToggle{
        filter: invert(1);
        
    }

        
        .images {
            width: 100%;
            /*display: flex;
            flex-wrap: wrap;*/
            align-items: center;
            margin-bottom: 9em;
            
        }
        .images img { 
            margin: auto;
            width: 90%;

        }
        
    }

    
    